html{
    height:100%
}


body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:100%
}

section{
    align-items: center;
    display: flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    text-align: center;
    transition: background-color 3s linear;
    width: 50vw;
}

section h1{
    opacity: 0;
    transition: opacity 3s linear;
}

section:hover h1{
    opacity: 1;
}

section h2{
    visibility: hidden;
}

section:hover h2{
    visibility: visible;
    -webkit-animation: spin infinite 4s linear;
}

section p{
    visibility:hidden;
}

section:hover {
    background-color: black;
    color:white;
}

section:hover p{
    visibility: visible;
}

@media (any-hover: hover) {
    a:hover {
      background: yellow;
    }
  }

#footer{
    color: rgb(253, 173, 0);
    min-height: 50vh;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    width: 50vw;
    background-image: url(signature\ 2.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 150px;
}

#footer:hover{
    background-color: black;
    color: rgb(146, 17, 158);
    background-color: white;
}
 
@keyframes spin{
    0%{
        transform:rotate(odeg);
    }
    100%{
        transform:rotate(360deg)
    }
}

@-webkit-keyframes spin {
    0%{
        transform:rotate(odeg);
    }
    100%{
        transform:rotate(360deg)
    }
}

.element {
    height: 80px;
    width: 80px;
    background-color: rgba(255, 136, 0, 0.89);
    animation: 
      pulse 5s ease infinite alternate, 
      nudge 8s linear infinite alternate;
    border-radius: 100%;
  }

.square{
    height: 65px;
    width: 70px;
    background-color: lightcoral;
}


  
  @keyframes pulse {
    0%, 100% {
      background-color: red;
    }
    15%{
        background-color: lightcoral
    }

    25%{
        background-color: lightpink;
    }

    50% {
      background-color: orange;
    }
    75% {
        background-color: rgb(133, 54, 133);
    }

    90%{
        background-color: indigo;
    }
  }
  
  @keyframes nudge {
    0%, 100% {
      transform: translate(0px, 0);
    }
    
    50% {
      transform: translate(550px, 0);
    }
  }
  

  
