html,body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

ul,
li{
    list-style: none;
}


ul#filters li a {
    color: black;
    font-size: 30px;
    display: flex;
    padding: 2rem;
    text-decoration: none;
    background-color: burlywood;
}

ul#filters li a:hover{
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

ul#filters{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

ul#fonts{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}


ul#fonts li img{
    width:200px;
}

ul#fonts li:hover{
    width: 300px;
}

#footer{
    font-size:15px;
    text-align: center;
    font: bold;
    padding-bottom: 0.2rem;
    clear: both;
    position: sticky;
    padding-right: 2rem;
 }

.hide{
    display: none;
}