/* 
    GLOBAL
    TYPOGRAPHY
    NAVIGATION
*/

html{
    background: black;
    height: 100px;
    color: white;
}


#output{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 80px;
    text-align: center;
    padding-top: 2rem;
}

.mouse{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 30px;
}