html, body{
    height:100%;
   
}

#container{
    min-height: 50%;
}

#main{
    overflow:auto;
    padding-bottom: 70px;
    font-size: 15px;
    text-align: left;
    background-color: rgb(194, 181, 181); height: 300px; opacity: 0.9;
    float: right;
}

.main {
    padding-bottom: 30px /*whatever the height of your footer is*/
  }

#sig{
    size: 50px;
    position: absolute;
    justify-content: left;
    opacity: 0.9;
    padding-left: 100px;
}

body{
    background-image: url(persona2.jpg); height: fit-content; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 80px;
    text-align-last: center;
}

#header{
    color: rgb(170, 170, 170);
}


#footer{
    font-size:11px;
    text-align: right;
    font: bold;
    padding-top: 15vw;
    clear: both;
    position: sticky;
} 

