html, body{
    height:100%;
    margin: 0;
}

.content {
    padding: 20px;
    min-height: 500%;
    margin: 0 auto -50px;
}

#container{
    min-height: 70%;
}

#main{
    padding-bottom: 10px;
    font-size: 110px;
    text-align: center;
}


#footer{
    font-size:15px;
    text-align: center;
    font: bold;
    padding-top: 9vw;
    clear: both;
    position: sticky;
    padding-right: 1.5rem;
} 



body{
    background-image: url('persona1.jpg')   ;
    text-align: right;
    background-repeat: no-repeat;
    background-position:bottom;
    }

    
header{
    font-size: 30px;
    font: bold;
    padding-right: 1.5rem;
    }


#one,#two,#three,#four{
        float:left;
        text-align: center;
        font-size: 30px;
        color: white;
        background:#d2bdda;
        width:25%;
        height:68px;
        opacity: 0.6;
    }

#one:hover,#two:hover,#three:hover,#four:hover{
    font-size: 50px;
    opacity: 1.0;
    background-color: #eaddf0;
} 


nav ul li{
    list-style-type: none;
}

nav ul li a:hover{
    color:white
}



