body{
    background-image: url("background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    opacity: 60%;
    height: 90%;
    }

nav ul li{
    list-style-type: none
}

#one,#two,#three,#four{float:left;background:darkolivegreen;width:25vw;height:100px}