#intro, #vlw{
    padding-top: 50%;
    color: white;
    text-decoration-style: none;
    font-size: 16px;
}

#contributions, #decease, #designstyle, #bauhaus, #heartattack, #legacy {
    padding-top: 50%;
    color: white;
    text-decoration-style: none;
    font-size: 16px;
}



#friends, #back{
    padding-top: 50%;
    color: white;
    text-decoration-style: none;
    font-size: 16px;
}

#back{
    font-size: 30px;
}

#time{
    padding-top: 100%;
    color: white;
    text-decoration-style: none;
    font-size: 16px;
}

#technology{
    padding-top: 50%;
    color: white;
    text-decoration-style: none;
    font-size: 16px;
}

